'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Build Tools'
      'submenu': [
        { 'label': 'Show console', 'command': 'build-tools:show' },
        { 'label': 'Run first command', 'command': 'build-tools:first-command'}
        { 'label': 'Run second command', 'command': 'build-tools:second-command'}
        { 'label': 'Run third command', 'command': 'build-tools:third-command'}
        { 'label': 'Show build settings', 'command': 'build-tools:settings'}
        { 'label': 'Show commands', 'command': 'build-tools:commands'}
      ]
    ]
  }
]
