'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Build tools C/C++'
      'submenu': [
        { 'label': 'Show console', 'command': 'build-tools-cpp:show' },
        { 'label': 'Run first command', 'command': 'build-tools-cpp:first-command'}
        { 'label': 'Run second command', 'command': 'build-tools-cpp:second-command'}
        { 'label': 'Run third command', 'command': 'build-tools-cpp:third-command'}
        { 'label': 'Show build settings', 'command': 'build-tools-cpp:settings'}
        { 'label': 'Show commands', 'command': 'build-tools-cpp:commands'}
      ]
    ]
  }
]
