@import "ui-variables";
.console {
  .icons {
    display: flex;
    flex: none;
  }

  .titlebar {
    display: flex;
    flex: none;
    align-items: baseline;
  }

  .bold {
    font-weight: bold;
  }

  .filelink:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .header {
    border: 1px solid @tab-bar-background-color;
    background-color: @tool-panel-background-color;
    display: flex;
    justify-content: space-between;
  }

  .name {
    margin: 0 0 0 10px;
    cursor: default;
    height: @component-icon-size;
  }

  .output {
    position: relative;
    -webkit-flex: 1;
    margin: 1px;
    height: 200px;
    overflow-y: scroll;
    font-family: monospace;
    white-space: pre-wrap;
    background-color: @inset-panel-background-color;
  }

  .hidden {
    display: none;
  }

  .error {
    color: @text-color-error;
  }
}
