@import 'ui-variables';

.icon-close {
  &:before {
    font-family: 'Octicons Regular';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    font-size: 12px;
    width: @component-icon-size;
    height: @component-icon-size;
    content: "\f081";
  }

  &:hover {
    color: #ffffff;
    cursor: pointer;
  }
}

.icon-expand {
  &:before {
    font-family: 'Octicons Regular';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    font-size: 12px;
    width: @component-icon-size;
    height: @component-icon-size;
    content: "\f05a";
  }

  &:hover {
    color: #ffffff;
    cursor: pointer;
  }
}

.icon-down {
  &:before {
    font-family: 'Octicons Regular';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    font-size: 12px;
    width: @component-icon-size;
    height: @component-icon-size;
    content: "\f05b";
  }

  &:hover {
    color: #ffffff;
    cursor: pointer;
  }
}

.icon-up {
  &:before {
    font-family: 'Octicons Regular';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    font-size: 12px;
    width: @component-icon-size;
    height: @component-icon-size;
    content: "\f0aa";
  }

  &:hover {
    color: #ffffff;
    cursor: pointer;
  }
}

.icon-edit {
  &:before {
    font-family: 'Octicons Regular';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    font-size: 12px;
    width: @component-icon-size;
    height: @component-icon-size;
    content: "\f058";
  }

  &:hover {
    color: #ffffff;
    cursor: pointer;
  }
}
