@import "ui-variables";

.import-view {
  overflow-y: auto;

  .selected {
    background-color: @background-color-selected;
    color: @text-color-selected;
  }

  .has-collapsable-children {
    border-radius: 5px 5px 5px 5px;
    background-color: @tree-view-background-color;
  }

  .buttons {
    padding: 5px 5px 5px 5px;
    display: flex;
    justify-content: space-between;
    border-width: 1px 0 0 0;
    border-color: #1b1b1b;
    border-style: solid;
  }

  .error {
    color: @text-color-error;
  }

  .icon-arrow-right {
    padding: 0px 0px 0 10px;
  }

  .hidden {
    display: none;
  }
}
