.build-settings {
  cursor: default;
  -webkit-user-select: none;
  overflow-y: auto;

  .panel-heading {
    .panel-text {
      font-size: 1.25em;
      font-weight: bold;
    }
    .btn {
      top: 0px;
    }
  }
}
